<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.corpnewt.USBMap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>iMacPro1,1-AppleUSBXHCIPCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>9:0:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>
				GgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>UK01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>UK02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>UK03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>UK04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>UK05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>UK06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
					<key>UK07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>UK08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>UK09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>UK10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
					<key>UK11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CwAAAA==
						</data>
					</dict>
					<key>UK12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<key>UK13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>UK14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
					</dict>
					<key>UK15</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						DwAAAA==
						</data>
					</dict>
					<key>UK16</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EAAAAA==
						</data>
					</dict>
					<key>UK17</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
					</dict>
					<key>UK18</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EgAAAA==
						</data>
					</dict>
					<key>UK19</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EwAAAA==
						</data>
					</dict>
					<key>UK20</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FAAAAA==
						</data>
					</dict>
					<key>UK21</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FQAAAA==
						</data>
					</dict>
					<key>UK22</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FgAAAA==
						</data>
					</dict>
					<key>UK23</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FwAAAA==
						</data>
					</dict>
					<key>UK24</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						GAAAAA==
						</data>
					</dict>
					<key>UK25</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						GQAAAA==
						</data>
					</dict>
					<key>UK26</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						GgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
		<key>iMacPro1,1-EUSB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:29:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>port-count</key>
				<data>
				GgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>UK01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>UK02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>UK03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>UK04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>UK05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>UK06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
					<key>UK07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>UK08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>UK09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>UK10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
					<key>UK11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CwAAAA==
						</data>
					</dict>
					<key>UK12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<key>UK13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>UK14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
					</dict>
					<key>UK15</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DwAAAA==
						</data>
					</dict>
					<key>UK16</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EAAAAA==
						</data>
					</dict>
					<key>UK17</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
					</dict>
					<key>UK18</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EgAAAA==
						</data>
					</dict>
					<key>UK19</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EwAAAA==
						</data>
					</dict>
					<key>UK20</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FAAAAA==
						</data>
					</dict>
					<key>UK21</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FQAAAA==
						</data>
					</dict>
					<key>UK22</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FgAAAA==
						</data>
					</dict>
					<key>UK23</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FwAAAA==
						</data>
					</dict>
					<key>UK24</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						GAAAAA==
						</data>
					</dict>
					<key>UK25</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						GQAAAA==
						</data>
					</dict>
					<key>UK26</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						GgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
		<key>iMacPro1,1-USBE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:26:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>port-count</key>
				<data>
				GgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>UK01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>UK02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>UK03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>UK04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>UK05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>UK06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
					<key>UK07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>UK08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>UK09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>UK10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
					<key>UK11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CwAAAA==
						</data>
					</dict>
					<key>UK12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<key>UK13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>UK14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
					</dict>
					<key>UK15</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DwAAAA==
						</data>
					</dict>
					<key>UK16</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EAAAAA==
						</data>
					</dict>
					<key>UK17</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
					</dict>
					<key>UK18</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EgAAAA==
						</data>
					</dict>
					<key>UK19</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EwAAAA==
						</data>
					</dict>
					<key>UK20</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FAAAAA==
						</data>
					</dict>
					<key>UK21</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FQAAAA==
						</data>
					</dict>
					<key>UK22</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FgAAAA==
						</data>
					</dict>
					<key>UK23</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						FwAAAA==
						</data>
					</dict>
					<key>UK24</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						GAAAAA==
						</data>
					</dict>
					<key>UK25</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						GQAAAA==
						</data>
					</dict>
					<key>UK26</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						GgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
