<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20G71</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>CpuTsync</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.0, 峨眉山市雅铭网络工作室修正。</string>
	<key>CFBundleIdentifier</key>
	<string>org.yamingnetwork.driver.CpuTsync</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CpuTsync</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13A5192j</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.0</string>
	<key>DTSDKBuild</key>
	<string>21A5284e</string>
	<key>DTSDKName</key>
	<string>macosx12.0</string>
	<key>DTXcode</key>
	<string>1300</string>
	<key>DTXcodeBuild</key>
	<string>13A5192j</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CpuTsync</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.yamingnetwork.driver.CpuTsync</string>
			<key>IOClass</key>
			<string>CpuTsync</string>
			<key>IOMatchCategory</key>
			<string>CpuTsync</string>
			<key>IOProviderClass</key>
			<string>AppleACPICPU</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>AppleFDEKeyStoreUserClient</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>Source Code</key>
	<string>https://gitee.com/yaming-network/VoodooTSCSync</string>
</dict>
</plist>
